.Playstation {
    font-size: 30px;
}

.xbox {
    font-size: 30px;
}

.nintendo {
    font-size: 30px;
}

.preço {
    font-size: 30px;
}

.quantidade {
    font-size: 30px;
    
}

ul {
    background-color: rgb(153, 147, 147);
    font-size: 20px;
    
}

P {
       font-size: 30px;
}
a { 
    background-color: rgb(153, 146, 146);
    font-size: 30px;
    color: black
} 


    



    


    
